/* Why is it like this exactly, again? */
body, html { 
    height: 100vh;
    margin:0;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

    display: flex;
    flex-direction: column;

    background-color: hsl(48, 33%, 93%);

    /* border: solid red; */
}



.header {
    
    flex: 1 1 auto;
    
    /* border: solid orange; */
}

.content {
    display: flex;
    
    flex: 1 1 auto;
    
    /* border: solid yellow; */
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 32px;
    
    padding: 16px 0px 32px 0px;
    
    flex: 1 1 auto;
    
    /* border: solid blue; */
}
button {    
    width: 175px;
    padding: 16px 32px;
    border-radius: 8px;

    color: white;
    background: hsl(0, 0%, 25%);
    border: solid 1px hsl(0, 0%, 25%);
  
    font-size: 12px;
}
button:hover {
    cursor: pointer;
}
.solid:hover {
    background: black; /* any way to do this relative to original ??? */ /* Transition into this */ 
}
button:active {
    transform:scale(0.9);
}
.rainbow:hover { /* transition into this, then have background scroll or whatever */
    background: linear-gradient(-66deg, cyan, yellow, magenta);
    color: black;
}
.resize {
    margin-top: 64px;
}
.resize:hover { /* transition to ease in grow and ease out */
    transform:scale(1.1);
}
.resize:active { /* I understand this is redundant but it doesn't seem to work any other way */
    transform:scale(1.0);
}
.erase:hover {  /* transition into this */ /* possibly do <shake> */
    background: transparent;
    color: black;
}



.container {
    display: flex;
    justify-content: left;
    align-items: center;

    flex: 1 1 auto;

    /* border: solid violet; */
}
.grid {
    width: 500px;
    height: 500px;
    margin: 0px 64px;


    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(0, auto);
    grid-template-rows: repeat(0, auto);
    grid-auto-flow: column;

    background-color: hsl(0, 0%, 90%);
    
    border: solid  5px hsl(0, 90%, 50%);
    border-bottom: solid 7.5px hsl(0,90%,50%);
    border-radius: 8px;
}
.cell {
    border: solid 0px black;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 1 auto;

    /* border: solid green; */
}